<footer>
  <div class="redes">
    <a href="mailto: naimjgcambe@gmail.com" target="_blank"><img src="../../../assets/images/mail.svg" alt="Logo de e-mail"></a>
    <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/images/glyph-logo_May2016.png" alt="Logo de Instagran"></a>
    <a href="https://twitter.com/?lang=es" target="_blank"><img src="../../../assets/images/big-twitter-logo.svg" alt="Logo de twitter"></a>
    <a href="https://es-la.facebook.com/" target="_blank"><img src="../../../assets/images/facebook.png" alt="Logo de Facebook"></a>
  </div>
</footer>
