<app-header></app-header>
<main>
  <section class="seccion1">
    <div class="titulos">
      <h2>Conoce los mejores juegos de los ultimos años</h2>
      <h2>Encuentra tu videojuego ideal</h2>
      <h2>Vota por tus favoritos</h2>
    </div>
    <div class="boton">
      <button type="submit" id="btn" routerLink="/home">Comenzar</button>
    </div>
    <div id="logos">
      <img class="logos2" src="/assets/images/PlayStation.png" alt="Logo de PlayStation">
      <img class="logos2" src="/assets/images/XBox.svg.png" alt="Logo de XBox">
      <img class="logos2" src="/assets/images/Nintendo_Switch_Logo.svg" alt="Logo de Nintendo Switch">
      <img class="logos2" src="/assets/images/Windows_logo_2012-Black.svg.png" alt="Logo de Microsoft">
      <img class="logos2" src="/assets/images/Apple.png" alt="Logo de Apple">
    </div>
  </section>
  <section class="seccion2">
    <div class="imagenessup">
      <img class="imagen" src="/assets/images/Pokemon-Scarlet-and-Violetjpg.jpg" alt="Pokemon Scarlet & Violet">
      <img class="imagen" src="/assets/images/zelda-tears-of-the-kingdomjpg.jpg" alt="The Legend Of Zelda Tears of the Kingdom">
    </div>
    <div class="imagenesinf">
      <img class="imagen" src="/assets/images/god-of-war-ragnarok.jpg" alt="God of War Ragnarok">
      <img class="imagen" src="/assets/images/Hogwarts-Legacy.jpg" alt="Hogwarts Legacy">
    </div>
  </section>
</main>
