/* Acá van todos los estilos globales de mi página */

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
@import url(./styles/reset.css);

*{
  font-family: 'Play', sans-serif;
  box-sizing: border-box;
  width: 100%;
}

body{
  background-image: url("/assets/images/y-so-serious-white.png");
}
